MONGODB_URI=mongodb+srv://REPLACE_USER:REPLACE_PASSWORD@REPLACE_CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=tapedeck
TAPEDECK_ATLAS_BUCKET=agent_snapshots
TAPEDECK_HOME=./store
TAPEDECK_RUNNER_URL=http://127.0.0.1:4777
TAPEDECK_API_TOKEN=
TAPEDECK_LIVE_MODEL=
TAPEDECK_MODELS_FILE=
TAPEDECK_GIT_DESTINATION=
TAPEDECK_GIT_REMOTE=origin
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
OPENROUTER_API_KEY=
LIVE_API_KEY=
